@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@layer components {
  .hero-text-slide {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
  }
  
  .hero-text-slide.animate {
    opacity: 1;
    transform: none;
  }

  .hero-link-slide {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.2s ease-out;
  }
  
  .hero-link-slide.animate {
    opacity: 1;
    transform: none;
  }
  
  .portrait {
    opacity: 0;
    transition: opacity 1s ease-in
  }
  
  .portrait.animate {
    opacity: 1;
  }

  .navlink-slide {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .navlink-slide.animate {
    opacity: 1;
    transform: none;
  }


}



